<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>User SignUp-Flight Ticket Booking System</title>
    <link rel="icon" type="image/x-icon" href="../static/flightlogo.png" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/oldlogin.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="wrapper">
      <div class="title">User Sign Up</div>
      {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
      <form  method="POST" action="/user_signup">
          <div class="field">
            <input type="name" name="name" required />
            <label>Name</label>
          </div>
          <div class="field">
            <input type="email" name="email" required />
            <label>Email Address</label>
          </div>
          <div class="field">
            <input type="password" name="password" required />
            <label>Password</label>
          </div>
          <div class="field">
            <input type="submit" value="SignUp and send OTP" />
          </div>
          <div class="signup-link">
            Already have an account?
            <a href="{{ url_for('user_routes.user_login') }}">Login</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
